
// Global default params, used in configs

params {
    input               = null
    help                = null
    monochrome_logs     = null
    outdir              = null
    validate_params     = true
    version             = null

    protocol                    = 'illumina'
    
    // Trimming options
    clip_r1                     = null
    three_prime_clip_r1         = null
    three_prime_adapter         = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'

}

profiles {
    singularity {
        singularity.enable      = true
    }
}

// Nextflow plugins
plugins {
    id 'nf-validation@1.1.3' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

manifest {
    name            = 'small RNA'
    author          = """Luis Chapado"""
    homePage        = 'https://github.com/luissian/small_RNA_pipeline'
    description     = """Small RNA-Seq Analysis Pipeline."""
    mainScript      = 'small_rna.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
    doi             = ''
}

